* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.todos {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 30px;
}

.bg:has(.my-modal.active) {
    background: gray;
    position: fixed;
    top: 0;
    bottom: 0;
    background: black;
    width: 100%;
    height: 100%;
    opacity: 0.6;
}

.bg:has(.my-modal2.active) {
    background: gray;
    position: fixed;
    top: 0;
    bottom: 0;
    background: black;
    width: 100%;
    height: 100%;
    opacity: 0.6;
}

.todo {
    border: 1px solid gray;
    padding: 20px;
    max-width: 250px;
    border-radius: 20px;
    height: 350px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.todo-content {
    height: 90%;
    overflow: auto;
}

.my-modal {
    position: fixed;
    left: calc(50% - 250px);
    top: 100px;
    width: 500px;
    height: 500px;
    border: 1px solid gray;
    border-radius: 20px;
    padding: 20px;
    display: none;
    background: white;
    z-index: 2;
}

.my-modal2 {
    position: fixed;
    left: calc(50% - 250px);
    top: 100px;
    width: 500px;
    height: 500px;
    border: 1px solid gray;
    border-radius: 20px;
    padding: 20px;
    display: none;
    background: white;
    z-index: 2;
}

.my-modal.active {
    display: block;
}

.my-modal2.active {
    display: block;
}

.my-modal-body textarea {
    width: 100%;
    height: 300px;
    resize: none;
}

.my-modal-body2 textarea {
    width: 100%;
    height: 300px;
    resize: none;
}